There is data to clear [Cell 1]

In [28]:
%sql SELECT Description FROM OnlineRetail WHERE      Description = LOWER(Description)     OR (LEFT(Description, 1) = UPPER(LEFT(Description, 1))      AND SUBSTRING(Description, 2) = LOWER(SUBSTRING(Description, 2)))     OR Description IS NULL GROUP BY Description LIMIT 10;

Running query in 'postgresql://postgres:***@localhost/postgres'

10 rows affected.

+-----------------+
|   description   |
+-----------------+
|        ?        |
| ? sold as sets? |
|        ??       |
|    ?? missing   |
|       ???       |
| ????damages???? |
|   ????missing   |
|     ???lost     |
|    ???missing   |
|    ?display?    |
+-----------------+
Truncated to displaylimit of 10.

How does cleared data look like [Cell 2]

In [26]:
%sql SELECT * FROM temp_OnlineRetail LIMIT 20;

Running query in 'postgresql://postgres:***@localhost/postgres'

20 rows affected.

+-----------+-----------+-------------------------------------+----------+-------------+-----------+------------+----------------+
| invoiceno | stockcode |             description             | quantity | invoicedate | unitprice | customerid |    country     |
+-----------+-----------+-------------------------------------+----------+-------------+-----------+------------+----------------+
|  ﻿536365  |   85123A  |  WHITE HANGING HEART T-LIGHT HOLDER |    6     |  2010-12-01 |    2.55   |   17850    | United Kingdom |
|   536365  |   71053   |         WHITE METAL LANTERN         |    6     |  2010-12-01 |    3.39   |   17850    | United Kingdom |
|   536365  |   84406B  |    CREAM CUPID HEARTS COAT HANGER   |    8     |  2010-12-01 |    2.75   |   17850    | United Kingdom |
|   536365  |   84029G  | KNITTED UNION FLAG HOT WATER BOTTLE |    6     |  2010-12-01 |    3.39   |   17850    | United Kingdom |
|   536365  |   84029E  |    RED WOOLLY HOTTIE WHITE HEART.   |    6     |  2010-12-01 |    3.39   |   17850    | United Kingdom |
|   536365  |   22752   |     SET 7 BABUSHKA NESTING BOXES    |    2     |  2010-12-01 |    7.65   |   17850    | United Kingdom |
|   536365  |   21730   |  GLASS STAR FROSTED T-LIGHT HOLDER  |    6     |  2010-12-01 |    4.25   |   17850    | United Kingdom |
|   536366  |   22633   |        HAND WARMER UNION JACK       |    6     |  2010-12-01 |    1.85   |   17850    | United Kingdom |
|   536366  |   22632   |      HAND WARMER RED POLKA DOT      |    6     |  2010-12-01 |    1.85   |   17850    | United Kingdom |
|   536367  |   84879   |    ASSORTED COLOUR BIRD ORNAMENT    |    32    |  2010-12-01 |    1.69   |   13047    | United Kingdom |
+-----------+-----------+-------------------------------------+----------+-------------+-----------+------------+----------------+
Truncated to displaylimit of 10.

[Cell 3]

In [29]:
%sql SELECT AVG(UnitPrice)::numeric(10, 2) FROM temp_OnlineRetail

Running query in 'postgresql://postgres:***@localhost/postgres'

1 rows affected.

+------+
| avg  |
+------+
| 3.28 |
+------+

[Cell 4]

In [31]:
%sql WITH consts (avg) as (     values ((SELECT AVG(UnitPrice) FROM temp_OnlineRetail)) ) SELECT UnitPrice, COUNT(*) FROM (     SELECT CASE WHEN UnitPrice BETWEEN -100000 AND (SELECT avg FROM consts) THEN '(-INF, AVG)'                 WHEN UnitPrice BETWEEN (SELECT avg FROM consts) AND 100000 THEN '(AVG, INF)'          END AS UnitPrice     FROM temp_OnlineRetail  ) GROUP BY UnitPrice

Running query in 'postgresql://postgres:***@localhost/postgres'

2 rows affected.

+-------------+--------+
|  unitprice  | count  |
+-------------+--------+
| (-INF, AVG) | 357985 |
|  (AVG, INF) | 178947 |
+-------------+--------+

[Cell 5]

In [33]:
%sql SELECT UnitPrice, COUNT(*) FROM (     SELECT CASE WHEN UnitPrice BETWEEN 0 AND 10 THEN '(0, 10)'                 WHEN UnitPrice BETWEEN 10 AND 100 THEN '(10, 100)'                  WHEN UnitPrice BETWEEN 100 AND 1000 THEN '(100, 1000)'      END AS UnitPrice     FROM temp_OnlineRetail ) GROUP BY UnitPrice ORDER BY UnitPrice

Running query in 'postgresql://postgres:***@localhost/postgres'

3 rows affected.

+-------------+--------+
|  unitprice  | count  |
+-------------+--------+
|   (0, 10)   | 514374 |
|  (10, 100)  | 22426  |
| (100, 1000) |  132   |
+-------------+--------+

[Cell 6]

In [34]:
%sql WITH InvoiceAmount AS (     SELECT InvoiceNo, SUM(UnitPrice) AS total FROM temp_OnlineRetail     WHERE Quantity > 0     GROUP BY InvoiceNo ) SELECT total, COUNT(*) FROM (     SELECT CASE WHEN total BETWEEN 0 AND 10 THEN '(0, 10)'                 WHEN total BETWEEN 10 AND 100 THEN '(10, 100)'                  WHEN total BETWEEN 100 AND 1000 THEN '(100, 1000)'                  WHEN total BETWEEN 1000 AND 10000 THEN '(1000, 10000)'      END AS total     FROM InvoiceAmount ) GROUP BY total ORDER BY total

Running query in 'postgresql://postgres:***@localhost/postgres'

4 rows affected.

+---------------+-------+
|     total     | count |
+---------------+-------+
|    (0, 10)    |  3189 |
|   (10, 100)   | 12517 |
|  (100, 1000)  |  3916 |
| (1000, 10000) |  178  |
+---------------+-------+

Which countries are our most significant customers? [Cell 7]

In [37]:
%sql SELECT Country, SUM(UnitPrice)::numeric(10, 2) AS total FROM temp_OnlineRetail WHERE Quantity > 0 GROUP BY Country ORDER BY total DESC LIMIT 5;

Running query in 'postgresql://postgres:***@localhost/postgres'

5 rows affected.

+----------------+------------+
|    country     |   total    |
+----------------+------------+
| United Kingdom | 1594472.26 |
|      EIRE      |  26200.29  |
|    Germany     |  23554.89  |
|     France     |  21486.42  |
|     Spain      |  7768.34   |
+----------------+------------+

How many unique products has each customer purchased? [Cell 8]

In [36]:
%sql SELECT CustomerID, Count(DISTINCT StockCode) FROM temp_OnlineRetail WHERE CustomerID IS NOT NULL GROUP BY CustomerID ORDER BY Count(DISTINCT StockCode) DESC LIMIT 10;

Running query in 'postgresql://postgres:***@localhost/postgres'

10 rows affected.

+------------+-------+
| customerid | count |
+------------+-------+
|   14911    |  1791 |
|   12748    |  1767 |
|   17841    |  1330 |
|   14096    |  1118 |
|   14298    |  884  |
|   14606    |  829  |
|   14769    |  717  |
|   14156    |  714  |
|   14646    |  700  |
|   13089    |  636  |
+------------+-------+
Truncated to displaylimit of 10.

Which customers have only made a single purchase from the company? [Cell 9]

In [38]:
%sql SELECT CustomerID, StockCode, Quantity FROM temp_OnlineRetail WHERE Quantity=1 AND  CustomerID IN (     SELECT CustomerID FROM temp_OnlineRetail     WHERE Quantity=1      GROUP BY CustomerID     HAVING Count(*)=1 ) ORDER BY CustomerID

Running query in 'postgresql://postgres:***@localhost/postgres'

505 rows affected.

+------------+-----------+----------+
| customerid | stockcode | quantity |
+------------+-----------+----------+
|   12357    |   23485   |    1     |
|   12365    |   22423   |    1     |
|   12384    |   22423   |    1     |
|   12401    |   21843   |    1     |
|   12409    |   23298   |    1     |
|   12413    |   22504   |    1     |
|   12420    |   22423   |    1     |
|   12421    |   84796A  |    1     |
|   12426    |   22849   |    1     |
|   12437    |   22423   |    1     |
+------------+-----------+----------+
Truncated to displaylimit of 10.

Which products are most commonly purchased together by customers in the dataset? [Cell 10]

In [39]:
%sql WITH CustomersBuyingMultipleProducts AS (     SELECT CustomerID, Count(*) FROM (         SELECT DISTINCT CustomerID, StockCode FROM temp_OnlineRetail         ORDER BY CustomerID     )     WHERE CustomerID IS NOT NULL     GROUP BY CustomerID     HAVING Count(*) > 1 )  SELECT StockCode, Description, Count(StockCode) AS incidence FROM temp_OnlineRetail WHERE CustomerID in (SELECT CustomerID FROM CustomersBuyingMultipleProducts) GROUP BY StockCode, Description ORDER BY incidence DESC LIMIT 10

Running query in 'postgresql://postgres:***@localhost/postgres'

10 rows affected.

+-----------+------------------------------------+-----------+
| stockcode |            description             | incidence |
+-----------+------------------------------------+-----------+
|   85123A  | WHITE HANGING HEART T-LIGHT HOLDER |    2067   |
|   22423   |      REGENCY CAKESTAND 3 TIER      |    1902   |
|   85099B  |      JUMBO BAG RED RETROSPOT       |    1654   |
|   84879   |   ASSORTED COLOUR BIRD ORNAMENT    |    1418   |
|   47566   |           PARTY BUNTING            |    1414   |
|   20725   |      LUNCH BAG RED RETROSPOT       |    1358   |
|   22720   | SET OF 3 CAKE TINS PANTRY DESIGN   |    1232   |
|   20727   |      LUNCH BAG  BLACK SKULL.       |    1126   |
|   21212   |  PACK OF 72 RETROSPOT CAKE CASES   |    1080   |
|   23298   |           SPOTTY BUNTING           |    1029   |
+-----------+------------------------------------+-----------+
Truncated to displaylimit of 10.

What product do customers buy most often? [Cell 11]

In [40]:
%sql SELECT StockCode, Description, SUM(Quantity) FROM temp_OnlineRetail   WHERE Quantity > 0 GROUP BY StockCode, Description ORDER BY SUM(Quantity) DESC LIMIT 10

Running query in 'postgresql://postgres:***@localhost/postgres'

10 rows affected.

+-----------+------------------------------------+-------+
| stockcode |            description             |  sum  |
+-----------+------------------------------------+-------+
|   23843   |    PAPER CRAFT . LITTLE BIRDIE     | 80995 |
|   23166   |   MEDIUM CERAMIC TOP STORAGE JAR   | 78033 |
|   84077   | WORLD WAR 2 GLIDERS ASSTD DESIGNS  | 55047 |
|   85099B  |      JUMBO BAG RED RETROSPOT       | 48478 |
|   85123A  | WHITE HANGING HEART T-LIGHT HOLDER | 37603 |
|   22197   |           POPCORN HOLDER           | 36761 |
|   84879   |   ASSORTED COLOUR BIRD ORNAMENT    | 36461 |
|   21212   |  PACK OF 72 RETROSPOT CAKE CASES   | 36419 |
|   23084   |         RABBIT NIGHT LIGHT         | 30788 |
|   22492   |      MINI PAINT SET VINTAGE        | 26633 |
+-----------+------------------------------------+-------+
Truncated to displaylimit of 10.

What product do customers without account buy most often? [Cell 12]

In [41]:
%sql SELECT StockCode, Description, SUM(Quantity) FROM temp_OnlineRetail   WHERE Quantity > 0 AND CustomerID IS NULL GROUP BY StockCode, Description ORDER BY SUM(Quantity) DESC LIMIT 10

Running query in 'postgresql://postgres:***@localhost/postgres'

10 rows affected.

+-----------+---------------------------------+------+
| stockcode |           description           | sum  |
+-----------+---------------------------------+------+
|   22355   |    CHARLOTTE BAG SUKI DESIGN    | 9177 |
|   22197   |          POPCORN HOLDER         | 5830 |
|   20724   |   RED RETROSPOT CHARLOTTE BAG   | 4962 |
|   20719   |      WOODLAND CHARLOTTE BAG     | 4073 |
|   22086   | PAPER CHAIN KIT 50'S CHRISTMAS  | 3738 |
|   23084   |        RABBIT NIGHT LIGHT       | 3586 |
|   47566   |          PARTY BUNTING          | 3004 |
|   20723   |     STRAWBERRY CHARLOTTE BAG    | 2951 |
|   21212   | PACK OF 72 RETROSPOT CAKE CASES | 2726 |
|   22356   |   CHARLOTTE BAG PINK POLKADOT   | 2415 |
+-----------+---------------------------------+------+
Truncated to displaylimit of 10.

How many products were purchased in total? How much on average per customer? [Cell 13]

In [42]:
%sql SELECT SUM(Quantity) AS TotalProductsSold, (SUM(Quantity) / Count(Quantity)) AS AveragePerCustomer  FROM temp_OnlineRetail WHERE Quantity > 0 AND CustomerID IS NOT NULL

Running query in 'postgresql://postgres:***@localhost/postgres'

1 rows affected.

+-------------------+--------------------+
| totalproductssold | averagepercustomer |
+-------------------+--------------------+
|      5171235      |         13         |
+-------------------+--------------------+

How many returns were there in total? How much on average per customer? [Cell 14]

In [43]:
%sql SELECT SUM(Quantity)*(-1) AS TotalProductsSold, (SUM(Quantity) / Count(Quantity))*(-1) AS AveragePerCustomer  FROM temp_OnlineRetail WHERE Quantity < 0 AND CustomerID IS NOT NULL

Running query in 'postgresql://postgres:***@localhost/postgres'

1 rows affected.

+-------------------+--------------------+
| totalproductssold | averagepercustomer |
+-------------------+--------------------+
|       269484      |         31         |
+-------------------+--------------------+